<div class="vault__search">
  <input type="text" class="js-sort-this" placeholder="Search patterns.." onkeyup="sortResults(this.value)">
</div>

<h1 class="vault__super">Elements</h1>
<% Dir["app/views/elements/**/*.html.erb"].each do |file| %>
  <div class="vault" data-element="<%= File.basename(file, ".html.erb").sub('_', '') %>">
    <div class="vault__title">
      <h1><%= File.basename(file, ".html.erb").titleize %></h1>
      <% file_path =  File.expand_path(file, "/") %>
      <% file_path.slice! ".html.erb" %>
      <% file_path.slice! "/app/views" %>
      <% file_path.slice! "_" %>
      <a href="<%= render :text => file_path %>/" class="vault__btn">Isolate</a>
    </div>
    <div class="vault__content">
      <%= render :file => Rails.root.join(file).to_s %>
    </div>
  </div>
<% end %>

<h1 class="vault__super">Components</h1>
<% Dir["app/views/components/**/*.html.erb"].each do |file| %>
  <div class="vault" data-element="<%= File.basename(file, ".html.erb").sub('_', '') %>">
    <div class="vault__title">
      <h1><%= File.basename(file, ".html.erb").titleize %></h1>
      <% file_path =  File.expand_path(file, "/") %>
      <% file_path.slice! ".html.erb" %>
      <% file_path.slice! "/app/views" %>
      <% file_path.slice! "_" %>
      <a href="<%= render :text => file_path %>/" class="vault__btn">Isolate</a>
    </div>
    <div class="vault__content">
      <%= render :file => Rails.root.join(file).to_s %>
    </div>
  </div>
<% end %>
