<!DOCTYPE html>
<html>
<head>
  <title><%= (@pageTitle.present?) ? @pageTitle + ' - Vault' : 'Vault' %></title>
  <%= stylesheet_link_tag    'vault', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="vault-template-<%= @type %>">

  <%= yield %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>